@font-face {
  font-family: 'gameOfThrones';
  src: url(../fonts/game-of-thrones/Game\ of\ Thrones.ttf);
}

header{
  text-align: center;
}

main{
  display: flex;
  flex-direction: row;
}

section {
  background-image: url("../assets/site/mapblue.jpg");
  width: 70%;
}

.character__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  text-align: center;
  justify-content: center;
  width: 10%;
  padding: 1%;
}

.character:hover, .selectedCharacter__highlight {
  background-color:rgb(213, 213, 213);
  border-radius: 5%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectedCharacter__highlight{
  color:rgb(4, 68, 123);
}

.character > img {
  padding: 5%;
  width: 90%;
}

.name {
  padding: 1%;
  margin: 1%;
}

.name:hover {
  cursor: pointer;
  font-style: oblique;
  color:rgb(4, 68, 123);
}

aside {
  width: 30vw;
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: white;
  position: relative;
}

aside>h1 {
  font-family: 'gameOfThrones';
  font-size: 1.5rem;
}

.selectedCharacter {
  color: white;
  font-size: 1.5rem;
  text-align: left;
}

.selected__image {
  width: 80%;
}

.selected__details {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20%;
}

.selected__name {
  position: absolute;
  left: 5%;
  margin-top: 5%;
  font-size: 1.5rem;
  text-align: left;
}

.selected__house {
  position: absolute;
  left: 80%;
  margin-top: 5%;
}

.selected__description {
  font-size: 1.2rem;
  text-align: left;
  padding: 5%;
  margin-top: 10%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  width: 85%;
}

.search__button {
  position: relative;
  left: 5%;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  color: white;
  background-color: rgb(58, 58, 58);
  border: solid 1px white;
}

.search__button:hover {
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 10%;
  width: 70%;
  background-color: white;
}

.search__input {
  position: relative;
  left: 0%;
  width: 100%;
  border: white;
  font-size: 1rem;
  padding-left: 2%;
}

@media only screen and (max-width:1200px) {
  .character {
    width: 14%;
  }
}

@media only screen and (max-width:768px) {
  section {
    width: 50vw;
  }

  aside {
    width: 50vw;
  }

  .character {
    width: 23%;
  }
}

@media only screen and (max-width:600px) {
  main {
    display: block;
    width: 100vw;
  }

  section {
    display: block;
    position: absolute;
    top: 50rem;
    width: 94vw;
  }

  aside {
    /*display: block;
    flex: 100%;*/
    height: 50rem;
    position: absolute;
    top: 0;
    width: 94vw;
  }

  .character {
    width: 25%;
  }

  .navigation {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 1rem;
  }
}

